.painel {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  grid-template-rows: 80px 50px;
  padding: 10px;
  border-radius: 20px;
  border-style: outset;
  border-color: var(--calculator-body-color);
  background: var(--calculator-body-color);
}

