.painel__display {
    grid-column: 1 / 5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--color-inside-display);
    text-align: right;
    width: 230px;
    font-size: 50px;
}
