@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

:root {
  --desktop-color: #24282D;
  --calculator-body-color: #ebf5fc;
  --color-inside-display: #CBCECB;
  --button-background-color: white;
  --button-color: #000;
  --reset-button-color: #696E7E;
  --basic-operation-button-color: #FFAB07;
  --button-color-pressed: #696E7E;
  --button-color-inactive: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  user-select: none;
  border: none;
  outline-style: none;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: var(--desktop-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}